<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title><%= title %></title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                      <a class="navbar-brand" href="/">Let's Travel</a>
                      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">About us</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link active " href="/admin">Admin Page</a>
                          </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0 call-me-form">
                      <input class="form-control mr-sm-2" type="search" placeholder="phone number" aria-label="Search">
                      <button class="btn btn-outline-primary my-2 my-sm-0 " type="submit">Call me</button>
                    </form>
                  </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="container sight-container">
            <h2><%= title %></h2>
            <hr>
            <img src="<%= imageURL %>" alt="eiffel-tower" class="center">
            <hr>
            <p class="date"><%= date %></p>
            <hr>
            <p> <b>Estimated Cost :</b> <%= cost %></p>
            <hr>
            <p class="text">
                <%= text %>
            </p>

        </div>
    </main>

</body>
</html>
